body, html
{
    margin: auto;
    width: 100%;
}
h1
{
    display: flex;
    justify-content: center;
}
#top
{
    background-color: rgba(215,50,46,0.7);
}
#bens
{
    background-color: rgba(242,221,135,0.8);
}
#reps
{
    background-color: rgba(54,54,24,0.5);
}
img
{
    display: flex;
    justify-content: center;
    max-width:100%;
    height: auto;
    margin: auto;
}
#logo
{
    height: 50px;
}
#oops
{
    display: flex;
    justify-content: center;
    max-width:100%;
    height: auto;
    margin: auto;
}
#navcolor
{
    background-color: rgba(0,0,0,0.5);
}